{% extends 'base.html' %}

{% block content %}
<div class="box3">
<h2 class="left">Update Tag</h2>

<form class="left" action="/tags/{{ tag.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{ tag.tag_name }}">
    </div>
    <div>
        <label for="name">Description:</label>
        <input type="text" name="desc" id="desc" value="{{ tag.tag_description }}">
    </div>
    <div>
        <input type="submit">
    </div>

</form>
</div>
{% endblock %}