.header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-start;
}


.header-item {
    padding-top: 30px;
    width: 200px;
}

.dropdown-content {
    display: none;
    
  }

.dropdown:hover .dropdown-content {
    display: block;
}

