.header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-start;
    font-size: 14px;
    font-family: 'Vollkorn', serif;
    background-color: #edf5e1;
    color: #05386b;
    padding-bottom: 35px;
}

.header-item {
    padding-top: 30px;
    width: 200px;
}

.dropdown-content {
    display: none;
    
  }

.dropdown:hover .dropdown-content {
    display: block;
}

.headerbox {
   
    position: relative;
    padding: 0px;
    width: 100%;
    height: 500px;
    background-color: #05386b;
    color: #379683;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    text-align: center;

}

.centre {
    font-family: 'Vollkorn', serif;
    font-size: 25px;
    text-align: center;
}

.box1 {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 500px;
    background-color: #5cdb95;
    color: #edf5e1;
    font-family: 'Vollkorn', serif;
    font-size: 25px;
}

.box2 {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 500px;
    background-color: #edf5e1;
    color: #05386b;
    font-family: 'Vollkorn', serif;
    font-size: 25px;
}

.box3 {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 500px;
    background-color: #05386b;
    color: #379683;
    font-family: 'Vollkorn', serif;
    font-size: 25px;
}

.content {
    display: flex;
    flex-direction: column;
}

.left {
    position: relative;
    padding-left: 45px;
}

.right {
    position: relative;
    padding-right: 45px;
    text-align: right;
    align-content: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 70px;
}

.linktext {
    color: #379683;
    font-family: 'Vollkorn', serif;
    font-size: 25px;
}

.showtransaction {
    padding-left: 30px;
    padding-top: 30px;
}

.transactions-table {
    border: 1px solid black;
}

tr {
    border: 1px solid #05386b;
}

th {
    border: 1px solid #05386b;
}

.submitclass {
    display: flex;
    justify-content: center;
    padding-top: 15px;

}

.submit {
    margin-top: 20px;
    margin-bottom: 30px;
}