<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/base.css" />
    <title>Spending Tracker</title>
</head>
<body>
    <main class="main">
    <div class="header">
        <div class="dropdown-buttons">
            <ul>
                <li>
                    <a href="/transactions">Transactions</a>
                </li>
                <li>
                    <a href="/tags">Tags</a>
                </li>
                <li>
                    <a href="/merchants">Merchants</a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <h2>Spending Tracker</h2>
        </div>

    </div>
        <section id="content">
            {% block content %}
      
            {% endblock%}
        </section>
    </main>
    
</body>
</html>