<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
    <title>Spending Tracker</title>
</head>
<body>
    <main class="main">
    <div class="header">
        <div class="summary-header header-item dropdown">
            <h2><a href="/">Summary</a></h2>
            <div class="dropdown-content">
                <p>View Spending Summary</p>
            </div>
        </div>
        <div class="transactions-header header-item dropdown">
            <h2><a href="/transactions">Transactions</a></h2>
            <div class="dropdown-content">
                <p>View all transactions</p>
                <p>Create new transaction</p>
            </div>
        </div>
        <div class="tags-header header-item dropdown">
           <h2><a href="/tags">Tags</a></h2>
           <div class="dropdown-content">
               <p>View all tags</p>
               <p>Create new tag</p>
           </div>
        </div>
        <div class="merchants_header header-item dropdown">
            <h2><a href="/merchants">Merchants</a></h2>
            <div class="dropdown-content">
                <p>View all merchants</p>
                <p>Create a new merchant</p>
            </div>
        </div>
        <div class="logo header-item">
            <h2>Spending Tracker</h2>
        </div>

    </div>
        <section id="content">
            {% block content %}
      
            {% endblock%}
        </section>
    </main>
    
</body>
</html>