<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
    <title>Spending Tracker</title>
</head>
<body>
    <main class="main">
    <div class="header">
        <div class="summary-header header-item dropdown">
            <h2><a href="/">Summary</a></h2>
            <div class="dropdown-content">
                <a href="/#overview">Spending Overview</a>
                <br>
                <a href="/#tagbreakdown">Breakdown by tags</a>
                <br>
                <a href="/#merchantbreakdown">Breakdown by merchant</a>
            </div>
        </div>
        <div class="transactions-header header-item dropdown">
            <h2><a href="/transactions">Transactions</a></h2>
            <div class="dropdown-content">
                <a href="/transactions">View all Transactions</a>
                <br>
                <a href="/transactions">Create new Transactions</a>
            </div>
        </div>
        <div class="tags-header header-item dropdown">
           <h2><a href="/tags">Tags</a></h2>
           <div class="dropdown-content">
               <a href="/tags">View all tags</a>
               <br>
               <a href="/tags">Create new tags</a>
           </div>
        </div>
        <div class="merchants_header header-item dropdown">
            <h2><a href="/merchants">Merchants</a></h2>
            <div class="dropdown-content">
                <a href="/merchants">View all merchants</a>
                <br>
                <a href="/merchants">Create new merchants</a>
            </div>
        </div>
        <div class="logo header-item dropdown">
            <h2>Spending Tracker</h2>
            <div class="dropdown-content">
                <a href="/myprofile">My Profile</a>
            </div>
        </div>

    </div>
        <section id="content">
            {% block content %}
      
            {% endblock%}
        </section>
    </main>
    
</body>
</html>