{% extends 'base.html'%}

{% block content %}
<h2>Spending Overview</h2>


<h4>You have spent a total of £{{total_spending}}</h4>
<h4>You have made {{total_transactions}} transactions</h4>
<h4>Your most frequent merchant is {{frequent_merchant_name}}, with {{frequent_merchant_visits}} purchases</h4>
<h4>Your most expensive transaction was {{most_expensive_transaction.transaction_name}}, costing £{{most_expensive_transaction.amount_spent}} from {{most_expensive_transaction.merchant.merchant_name}}</h4>


{% endblock %}