{% extends 'base.html'%}

{% block content %}
<div class="box1">
<h2 class="left">Transactions</h2>
<h3 class="left">Total spending: £{{total_spending}}</h3>
<div class="tablecontainer">
<table class="transactions-table" style="width:100%">
    <tr>
      <th>Transaction</th>
      <th>Tag</th>
      <th>Merchant</th> 
      <th>Amount</th> 
    </tr>
    
    {% for transaction in transactions %}
    <tr>
    <th>
        <a class="box1link" href="/transactions/{{ transaction.id }}/edit">{{transaction.transaction_name}}</a>
    </th>
    <th>
        <a class="box1link" href="/transactions/{{ transaction.tag.id }}/tagview">{{transaction.tag.tag_name}}</a>
    </th>
    <th>
        {{transaction.merchant.merchant_name}}
    </th>
    <th>
        £{{transaction.amount_spent}}
    </th>
    {% endfor %}
    </tr>
    <form action="/transactions" method='post'>
        <tr>
            <th>
                <input type="text" name="transaction_name" id="transaction_name" placeholder="New transaction name">
            </th>
            <th>
                <select name="transaction_tag" id="transaction_tag">
                    {% for tag in tags %}
                    <option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
                    {% endfor %}
            </th>
            <th>
                <select name="transaction_merchant" id="transaction_merchant">
                    {% for merchant in merchants %}
                    <option value="{{merchant.merchant_name}}">{{merchant.merchant_name}}</option>
                    {% endfor %}
            </th>
            <th>
                <input type="number" min="1" step="any" name="transaction_amount" id="transaction_amount" placeholder="Transaction amount">
            </th>
        </tr>
    </table>
    </div>
    <div class="submitclass">
    <input type="submit" value="Submit" class="submit">
    
    </div>
    </form>
</div>

{% endblock %}